/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
body{
    -webkit-overflow-scrolling:touch;
    overflow-scrolling:touch;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0
}

* {
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-family: Arial, Verdana, Tahoma, "宋体", Helvetica, sans-serif;
	line-height: 150%;
}


table {
	border-collapse: collapse;
}

td {
	padding: 3px;
}

img {
	border: none;
}

input {
	padding: 1px;
	vertical-align: middle;
	line-height: normal;
}

.main-box {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	clear: both;
	zoom: 1;
	overflow: hidden;
	background-color: #CCCCCC;
}

.text-overflow-hidden {
	white-space: nowrap;
	word-spacing: normal;
	letter-spacing: normal;
	overflow: hidden;
}

.box-align-center {
	margin-right: auto;
	margin-left: auto;
}
/*css定义超链接四个状态也有顺序的。*/

a:link, a:visited {
	text-decoration: none;
	color: #1F376D;
}

a:hover, a:active {
	text-decoration: underline;
	color: #BD0A01;
	border: none;
}
